/* TAG SELECTORS */
body {
  background-color: hsl(0, 0%, 98%);
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin-top: 60px;
  text-align: center
}

h1 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  margin-top: 0;
}

h2 {
  color: hsl(229, 6%, 66%);
  font-weight: 200;
  font-size: 30px;
  margin-bottom: 0;
}

h3 {
  color: hsl(234, 12%, 34%);
  font-weight: 600;
  margin: 20px 30px 10px;
  text-align: left;
}

h4 {
  color: hsl(229, 6%, 66%);
  font-weight: 350;
  width: 20%;
}

p {
  color: hsl(229, 6%, 66%);
  font-size: 13px;
  font-weight: 300;
  margin: 10px 30px 15px;
  padding-bottom: 10px;
  text-align: left;
}

div {
  border-radius: 4px;
  border-top-style: solid;
  border-width: 4px;
  box-shadow: 0px 15px 50px 0px  rgba(216, 216, 216, 0.80);
  height: 200px;
}

/* DIVS */
.team-builder {
  border-top-color: hsl(0, 78%, 62%);
  margin: auto;
  margin-bottom: 30px;
  width: 20%;
}

.calculator {
  border-top-color: hsl(212, 86%, 64%);
  right: 250px;
  top: 400px;
  position: absolute;
  width: 20%;
}

.supervisor {
  border-top-color: hsl(180, 62%, 55%);
  left: 250px;
  top: 400px;
  position: absolute;
  width: 20%;
}

.karma {
  border-top-color: hsl(34, 97%, 64%);
  margin: auto;
  margin-top: 30px;
  width: 20%;
}

/* IMAGES */
.icon-team-builder {
  left: 90px;
  margin-bottom: 8px;
  position: relative;
  width: 17%;
}

.icon-calculator {
  left: 90px;
  margin-bottom: 8px;
  position: relative;
  width: 17%;
}

.icon-supervisor {
  left: 90px;
  margin-top: 8px;
  position: relative;
  width: 17%;
}

.icon-karma {
  left: 90px;
  margin-top: 8px;
  position: relative;
  width: 17%;
}

/* OTHERS */

.subtitle {
  margin: auto;
  margin-bottom: 60px;
  width: 32%;
}

.attribution {
  margin: 150px 0 55px;
  text-align: center;
}
